{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改信息</title>
</head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/css.css' %}">
<body>
    <div class="topnav">
      <a class="active" href="{% url 'home' %}">主页</a>
      <a href="{% url 'add' %}">添加学生或班级</a>
      <a href="{% url 'delete' %}">删除学生或班级</a>
      <input type="text" placeholder="搜索..">
    </div>
    <form action="regist" method="post">
        {% csrf_token %}
        姓名：<input type="text" name="name" value=""/>
        <hr>
        性别：<input type="radio" name="gender" value=True>男<input type="radio" name="gender" value=False>女
        <hr>
        年龄：<input type="text" name="age" value=""/>
        <hr>
        座右铭：<input type="text" name="motto" value=""/>
        <hr>
        班级：<input type="text" name="grade" value=""/>
        <hr>
        <input type="submit" value="添加">
        <hr>
    </form>
    <h1>添加班级</h1>
    <form action="Gregist" method="post">
        {% csrf_token %}
        班级名：<input type="text" name="name" value=""/>
        <hr>
        女生总数：<input type="text" name="girlnum" value=""/>
        <hr>
        男生总数：<input type="text" name="boynum" value=""/>
        <hr>
        <input type="submit" value="添加">
    </form>
</html>